/* Botón azul marino para el acordeón */
.custom-blue {
    background-color: #003366; /* Azul marino */
    color: white; /* Color del texto */
    border: none; /* Eliminar borde */
    padding: 10px 20px; /* Espaciado */
    font-size: 16px; /* Tamaño de la fuente */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Efecto de transición */
}

.custom-blue:hover {
    background-color: #002244; /* Azul más oscuro al pasar el ratón */
}

/* Botón verde para el enlace dentro del acordeón */
.custom-green {
    background-color: #28a745; /* Verde */
    color: white; /* Color del texto */
    border: none; /* Eliminar borde */
    padding: 10px 20px; /* Espaciado */
    font-size: 16px; /* Tamaño de la fuente */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Efecto de transición */
}

.custom-green:hover {
    background-color: #218838; /* Verde más oscuro al pasar el ratón */
}