<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg" style="background-color: #ca9b6d;">
    <div class="container text-center" style="font-family: sans-serif, cursive;">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item mx-3">
            <a class="nav-link text-white fs-5" href="/">Inicio</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link text-white fs-5" href="/pagar_arriendo">Pagar Arriendo</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link text-white fs-5" href="/Contacto">Contacto</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item mx-3">
              <a class="nav-link text-white fs-5" href="/favoritos">Favoritos</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav> 
