{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <!-- Bienvenida -->
        <div class="col-md-8 text-center">
            <h1>¡Hola, {{ user.username }}!</h1>
            <p>Estamos encantados de tenerte aquí. A continuación, puedes revisar tu información personal y modificarla si es necesario.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- Acordeón -->
        <div class="col-md-6">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProfile" aria-expanded="true" aria-controls="collapseProfile">
                            Mis Datos
                        </button>
                    </h2>
                    <div id="collapseProfile" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <h2>Tus datos de registro:</h2>
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Username:</strong> {{ user.username }}</li>
                                <li class="list-group-item"><strong>Rut:</strong> {{ user.rut }}</li>
                                <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
                                <li class="list-group-item"><strong>Dirección:</strong> {{ user.direccion }}</li>
                                <li class="list-group-item"><strong>Teléfono:</strong> {{ user.telefono }}</li>
                                <li class="list-group-item"><strong>Fecha de registro:</strong> {{ user.date_joined|date:"d M Y H:i" }}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEdit" aria-expanded="false" aria-controls="collapseEdit">
                                Editar Perfil
                            </button>
                        </h2>
                        <div id="collapseEdit" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <p>Puedes editar tu información personal aquí:</p>
                                <a href="{% url 'editar_perfil' %}" class="btn btn-warning">Editar mi perfil</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            Agendar Visita
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <h2>Agendar Visita</h2>
                            <form method="POST" action="{% url 'agendar_visita' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="propiedad">Selecciona la propiedad</label>
                                    <select name="propiedad" class="form-control">
                                        {% for propiedad in propiedades %}
                                            <option value="{{ propiedad.id }}">{{ propiedad.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="fecha_visita">Fecha de Visita</label>
                                    <input type="date" name="fecha_visita" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-success">Agendar Visita</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            Recaudos para Arrendar
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <h2>Recaudos para Arrendar</h2>
                            <h4>Si eres trabajador dependiente:</h4>
                            <ul>
                                <li>Copia de su carnet.</li>
                                <li>Copia del contrato de trabajo.</li>
                                <li>Copia de las 3 últimas liquidaciones de sueldo.</li>
                                <li>Cotizaciones de AFP.</li>
                                <li>Certificado Dicom Destacame Arriendo. <a href="https://certificadodestacame.cl" target="_blank">Puedes obtenerlo aquí</a>.</li>
                            </ul>
                            <h4>Si eres trabajador independiente:</h4>
                            <ul>
                                <li>Copia de su carnet.</li>
                                <li>Carpeta tributaria para solicitar crédito.</li>
                                <li>Resumen anual de boletas (en caso de honorarios).</li>
                                <li>Certificado Dicom Destacame Arriendo. <a href="https://certificadodestacame.cl" target="_blank">Puedes obtenerlo aquí</a>.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Segundo contenedor: Propiedades favoritas -->
        <div class="col-md-6">
            <h2>Mis Propiedades Favoritas</h2>
            <div class="row">
                {% for propiedad in propiedades_favoritas %}
                    <div class="col-md-4">
                        <div class="card">
                            <img src="{{ propiedad.imagen_url }}" class="card-img-top" alt="{{ propiedad.nombre }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ propiedad.nombre }}</h5>
                                <p class="card-text">{{ propiedad.descripcion }}</p>
                                <a href="{% url 'ver_detalles' propiedad.id %}" class="btn btn-info">Ver Detalles</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}











    

