{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Publicar Nueva Propiedad</h1>
    <p class="text-center">Completa los detalles de la nueva propiedad que deseas publicar.</p>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center">
                    <button type="submit" class="btn btn-success">Publicar Propiedad</button>
                    <a href="{% url 'perfil_usuario' %}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}